<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<div id="app2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">Ecommerce Sample</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                </ul>
                <div class="dropdown mr-3">
                    <button class="btn btn-outline-secondary rounded-circle dropdown-toggle" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-bag-check" style="font-size: 2rem;"></i><span class="badge bg-secondary">{{ cart_count }}</span>
                    </button>
                    <div class="dropdown-menu mr-5" aria-labelledby="dropdownMenuButton1" style="left: -100px;">
                        <ul>
                            <li v-for="(cart,index) in cartList">
                                <div v-if="cart_count > 0">
                                    <span>{{ index + 1 }}</span><span class="mx-3">{{ cart.product_name }}</span>
                                    <button type="button" class="btn btn-outline-secondary"
                                            v-on:click="removeFromCart(index)"><i class="bi bi-archive"></i></button>
                                </div>
                                <div v-else-if="cart_count == 0">
                                    <p>Your cart is empty</p>
                                </div>
                            </li>
                        </ul>
                        <a type="button" href=""
                           class="btn btn-secondary" v-if="cart_count > 0">View Cart Summary
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Cart Summary
                </div>
                <ul class="list-group list-group-flush list-unstyled">
                    <li v-for="(product,index) in cartList" :key="product.product_name">
                        <div v-if="cart_count > 0">
                            <span>{{ index + 1 }}</span><span class="mx-3">{{ product.product_name }}</span><span>{{ product.price }}</span>
                            <button type="button" class="btn btn-outline-secondary"
                                    v-on:click="removeFromCart(index)"><i class="bi bi-archive"></i></button>
                        </div>
                    </li>
                    <li><span class="mx-3">SubTotal</span><span>{{ subTotal }}</span></li>
                    <li><span class="mx-3">Shipping Charge</span><span>{{ shipping_charge }}</span></li>
                    <li><span class="mx-3">Total</span><span>{{ total }}</span></li>
                    <a href="checkoutform.html" type="button" class="btn btn-secondary">Proceed to Checkout</a>
                </ul>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="index.js"></script>
</body>
</html>